@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap');
* {
    padding: 0;
    margin: 0;
}

nav ul {
    background-color: rgb(31, 29, 29);
    color: white;
    height: 50px;
    display: flex;
    align-items: center;
    font-size: 22px;
    padding-left: 10px;
    font-family: 'Oswald', sans-serif;
}

.gamecontainer{
    margin-top:8px;
    display: flex;
    justify-content: center;
    padding-top: 3vw;
}

.container{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3,10vw);
    grid-template-rows: repeat(3,10vw);
}

.box{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 53px;
    border: 2px solid black;
}

.box:hover{
    background-color: rgb(189, 194, 189);
    cursor: pointer;
}

.gameInfo{
    padding:30px 50px;

}

.reset{
    padding-top: 7px;
}

button{
    height: 30px;
    width: 63px;
    background-color: rgb(44, 46, 46);
    color: white;
    border-radius: 4px;
}

button:hover{
    background-color: rgb(192, 214, 214);
    color: black;
    cursor: pointer;
}
.b-b{
    border-bottom: none;
}

.b-l{
    border-left: none;
}

.b-r{
    border-right: none;
}

.b-t{
    border-top: none;
}
